.btn-menu-block {
    padding: 15px 20px;

    .btn-show-menu {
        
        .btn-bar1, .btn-bar2, .btn-bar3 {
            width: 30px;
            height: 4px;
            background-color: #FFFFFF;
            margin: 6px 0;
            transition: .4s;
            -webkit-transition: .4s;
            -moz-transition: .4s;
            -o-transition: .4s;
        }

        .change.btn-bar1 {
            background: #DF0404;
            transform: rotate(-45deg) translate(-7px, 6px);
            -webkit-transform: rotate(-45deg) translate(-7px, 6px);
            -moz-transform: rotate(-45deg) translate(-7px, 6px);
            -o-transform: rotate(-45deg) translate(-7px, 6px);
        }
        
        .change.btn-bar2 {
            opacity: 0;
        }
        
        .change.btn-bar3 {
            background: #DF0404;
            transform: rotate(45deg) translate(-7px, -8px);
            -webkit-transform: rotate(45deg) translate(-7px, -8px);
            -moz-transform: rotate(45deg) translate(-7px, -8px);
            -o-transform: rotate(45deg) translate(-7px, -8px);
        }
    }
}


.offcanvas-block .dashboard-menu {
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, .5);

    .menu-title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 36px;
        padding-bottom: 54px;

        .menu-title-icon {
            width: 37px;
            height: 37px;
            margin-right: 8px;
        }

        span {
            font-size: 26px;
            font-family: 'Poppins-Bold';
            line-height: 39px;
            letter-spacing: .01em;
            margin-right: 4px;
        }

        span + span {
            font-size: 10px;
            font-family: 'Poppins-Medium';
            line-height: 15px;
            letter-spacing: -0.01em;
            color: #838383;
            padding-top: 12px;
        }
    }

    .list-group {
        align-items: center;
        justify-content: center;

        .list-group-item {
            width: 250px;
            border: none;

            .menu-item {
                display: flex;
                align-items: center;
                padding: 11px 0;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: -0.01em;
                text-transform: capitalize;
                color: #9197B3;

                .icon-dashboard-menu {
                    width: 24px;
                    height: 24px;
                    margin-right: 14px;
                }

                .icon-dashboard-menu {
                    filter: brightness(0.4);
                    -webkit-filter: brightness(0.4);
                }

                span {
                    width: 100%;
                }

                .arrow-icon {

                    path {
                        stroke: #9197B3;
                    } 
                }
            } 

            &:hover {
                border-radius: 8px;
                background: #5932EA;
                transition: all .3s ease-in-out;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;

                .menu-item {
                    color: #FFFFFF;

                    .icon-dashboard-menu {
                        filter: brightness(1);
                        -webkit-filter: brightness(1);
                    }

                    .arrow-icon {
                        path {
                            stroke: #FFFFFF;
                        }    
                    }
                }
            } 
        }

        .active-menu-item {
            border-radius: 8px;
            background: #5932EA;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;

            .menu-item {
                color: #FFFFFF;

                .icon-dashboard-menu {
                    filter: brightness(1);
                    -webkit-filter: brightness(1);
                }

                .arrow-icon {
                    path {
                        stroke: #FFFFFF;
                    }    
                }
            }
        }
    }

    .menu-footer {
        margin: 597px 0 76px 28px;
        display: flex;

        .user-logo {
            width: 42px;
            height: 42px;
            margin: auto 0;
            background: url('../../public/dashboard-icon/Ellipse\ 8.png') no-repeat center center;
        }

        .user-title {
            padding-left: 12px;
        }

        p {
            margin: 0;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: .01em;
            color: #000000;
        }

        p + p {
            font-family: 'Poppins-Regular';
            font-size: 12px;
            line-height: 18px;
            color: #757575;
        }
    }
}
.dashboard-right-block {
    background: #FAFBFF;

    .greetings-user {
        font-size: 24px;
        line-height: 36px;
        margin-top: 41px;
        margin-bottom: 51px;
        margin-left: 71px;
        color: #000000;
    }
}

@media (max-width: 991.98px) {
    .container.row {
        display: flex;
    }
    
    .offcanvas-lg.offcanvas-start {
        width: auto !important;
    }
}

@media (max-width: 1200px) {
    .offcanvas-block .dashboard-menu .list-group .list-group-item {
        width: 100%;
    }
}

@media (min-width: 1440px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      min-width: 100%;
    }
  }
